div.my-footer {
  background-color: #2165B6;
    position: absolute;
  bottom: 0px;
  left: 0px;
  height: 45px;
  width: 100%;
}
div.my-footer span {
  font-size: 12pt;
  color: #FFFFFF;
    position: absolute;
  left: 15px;
  bottom: 12px;
}
